<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ABC plan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ABC plan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div>
      </div>
    </nav>
    <!-- El jumbotron es el recuadro con enlaces de mercadeo -->
    <div class="jumbotron">
      <div class="container">
        <h1>Generador de planificación escolar</h1>
        <p>una herramienta, práctica, innovadora y eficiente que te acompaña en el desarrollo de los contenidos académicos.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Empezar ahora</a></p>
      </div>
    </div>

    <div class="container">
      <!-- secciones -->
      <div class="row">
        <div class="col-md-4">
          <h2>Plan A</h2>
          <p>Seleccionar los contenidos que deseas trabajar en el ambiente de aprendizaje</p>
          <p><a class="btn btn-default" href="#" role="button">Buscar contenidos;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Plan B</h2>
          <p>Seleccionar el nivel escolar</p>
          <p><a class="btn btn-default" href="#" role="button">Buscar niveles</a></p>
       </div>
        <div class="col-md-4">
          <h2>Plan C</h2>
          <p>descargar tu planificación</p>
          <p><a class="btn btn-default" href="#" role="button">Ver planificación</a></p>
        </div>
      </div>
      <hr>
      <footer>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default navbar-btn">Sign in</button>
            </div>
          </div>
        </form>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </div> <!-- /container -->
</body>
</html>