<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>ABC plan</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <!-- barra de navegacion-->
  <nav class="light-blue accent-4" role="navigation">
    <div class="nav-wrapper">
      <div class="left-align">
        <a id="logo-container" href="#" class="brand-logo">ABC plan</a>
      </div>
      <div class="right-align">
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Registro</a></li>
        </ul>
        <!-- navegacion responsiva-->
        <ul id="nav-mobile" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Registro</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </nav>

  {{{body}}}
  <footer class="page-footer light-blue accent-4">
    <div class="row">
      <div class="col l6 s12 m6">
        <h5 class="white-text">Registrate</h5>
        <form action="" method="post" id="">
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="mdi mdi-account-circle prefix white-text"></i>
              <input id="name" name="name" type="text" class="validate white-text">
              <label for="name" class="white-text">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="mdi mdi-email prefix white-text"></i>
              <input id="email" name="email" type="email" class="validate white-text">
              <label for="email" class="white-text">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <i class="mdi mdi-pencil prefix white-text"></i>
              <textarea id="message" name="message" class="materialize-textarea white-text" style="padding-bottom: 0px;"></textarea>
              <label for="message" class="white-text">Mensaje</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4">
              <button class="btn waves-effect waves-light white blue-text text-darken-2 right" type="submit" id="button" onclick="">Enviar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col l6 s12 m6">
        <div class="row">
           <div class="col m12 l12 s12 right-align" >
             <h5 class="rigth-align white-text">Contacto</h5>
            <ul>
              <li>Xibelys Coa</li>
              <li>Profesora en educación integral</li>
              <li>Trainee javascript</li>
              <li>Ayacucho 369, Balvanera, Capital Federal</li>
              <li>Tlf 911 27604595</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</html>