<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>ABC plan</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Marmelad|Sriracha" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <!-- barra de navegacion-->
  <nav class="light-blue accent-4" role="navigation">
    <div class="nav-wrapper">
      <div class="left-align">
        <a id="logo-container" href="#" class="brand-logo">ABC plan</a>
      </div>
      <div class="right-align">
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Registro</a></li>
        </ul>
        <!-- navegacion responsiva-->
        <ul id="nav-mobile" class="side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Registro</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </nav>

  {{{body}}}
  <footer class="page-footer light-blue accent-4">
   <!-- <div class="container"> -->
      <div class="row">
        <div class="col l10 s12">
          <h5 class="white-text left-align">Contacto</h5>
          <p class="white-text text-lighten-4 left-align">Prof. Xibelys Coa<br>Trainee Javascript<br>Ayacucho 369, Balvanera, Capital Federal<br>911 27604595<br>xibelyscoa@gmail.com</p>
        </div>
        <div class="col l2 s12">
          <h5 class="white-text">Buscanos en</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagran</a></li>
            <li><a class="white-text" href="#!">You Tube</a></li>
            <li><a class="white-text" href="#!">Slack</a></li>
            <li><a class="white-text" href="#!">Git Hub</a></li>
          </ul>
        </div>
      </div>
   <!-- </div> -->
    <div class="footer-copyright  light-blue accent-1">
      <div class="container black-text left-align">
        © 2017 Buenos Aires-Argentina
      </div>
    </div>
  </footer>

</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</html>