<div class="container">
    <form class="row">
    <div class="form-group">
        <div class="input-field col s12">
            <select class="form-control">
            </select>
        </div>
    </div>
    <div class="form-group materias">
    </div> 
</form>
</div>
<script src="js/script.js"></script>
