<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">ABC plan</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>Generador de planificación escolar</h1>
        <p>una herramienta, práctica, innovadora y eficiente que te acompaña en el desarrollo de los contenidos académicos.</p>
        <p><a class="btn btn-primary btn-lg" href="/generador" role="button">Empezar ahora</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Plan A</h2>
            <p>Seleccionar los contenidos que deseas trabajar en el ambiente de aprendizaje</p>
            <p><a class="btn btn-default" href="#" role="button">Buscar contenidos;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Plan B</h2>
            <p>Seleccionar el nivel escolar</p>
            <p><a class="btn btn-default" href="#" role="button">Buscar niveles</a></p>
        </div>
        <div class="col-md-4">
            <h2>Plan C</h2>
            <p>descargar tu planificación</p>
            <p><a class="btn btn-default" href="#" role="button">Ver planificación</a></p>
        </div>
    </div>
</div>