<div class="section no-pad-bot light-blue lighten-3">
    <h1 class="header center white-text">¡Planificar tú clase es muy sencillo!</h1>
    <div class="row center">
        <h5 class="header col s12 light">Plan ABC, te ayuda a organizar tus reportes semanales<br> con actividades dinámicas y en tan solo tres pasos</h5>
    </div>
    <div class="row center">
        <a href="/generador" id="download-button" class="btn-large waves-effect light-blue accent-4">Inicia tú plan</a>
    </div>
    <br><br>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <img class="responsive-img" src="/img/school/calendar.svg" alt="">
                <h5 class="center">Paso A</h5>
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
                    Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
            <div class="col s12 m4">
                <img class="responsive-img" src="/img/school/bookshelf.svg" alt="">
                <h5 class="center">Paso B</h5>
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates
                    components and animations that provide more feedback to users. Additionally, a single underlying responsive
                    system across all platforms allow for a more unified user experience.</p>
            </div>
            <div class="col s12 m4">
                <img class="responsive-img" src="/img/school/crayon.svg" alt="">
                <h5 class="center">Paso C</h5>
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates
                    components and animations that provide more feedback to users. Additionally, a single underlying responsive
                    system across all platforms allow for a more unified user experience.</p>
            </div>
        </div>
    </div>
    <br><br>
</div>