<div class="section no-pad-bot light-blue lighten-3">
    <h3 class="left-align white-text">¡Planificar tú clase es muy sencillo!</h3>
    <div class="left-align">
        <h5 class="left-align white-text">Con solo tres pasos puedes obtener tú reporte semanal</h5>
    </div><br>
    <div class="button">
        <a href="/generador" id="download-button" class="btn-large waves-effect light-blue accent-4">Inicia tú plan</a>
    </div>
    <br><br>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <h3 class="center">Paso A</h3>
                <p class="light">Este primer paso, conciste en seleccionar el nivel de educación primaria y 
                    las áreas académicas que desea trabajar con sus estudiantes. A partir de esta 
                    información la aplicación generará automaticamente el siguiente paso.</p>
        </div>
         <div class="col s12 m6">
            <img class="responsive-img" src="/img/school/bookshelf.svg" width="200px" height="100px">
        </div>
    </div>
    <div class="row">
         <div class="col s12 m6">
            <img class="responsive-img" src="/img/school/notebook.svg" width="200px" height="200px">
        </div>
        <div class="col s12 m6">
            <h3 class="center">Paso B</h3>
                <p class="light">En este momento, el programa le muestra la paleta de contenidos que pertenecen 
                    a cada una de las áreas académicas, le invitamos a marcar la unidad que desea 
                    impartir con su grupo de alumnos para obtener su reporte escolar.</p>
        </div>
    </div>
    <div class="row">
         <div class="col s12 m6">
             <h3 class="center">Paso C</h3>
                <p class="light">El último paso, es desplegar el resultado de tú planificación, esta se encuentra completada
                    con actividades lúdicas y pedagógicas que marcaran la forma de enseñar y de aprender.</p>
         </div>
         <div class="col s12 m6">
            <img class="responsive-img" src="/img/school/crayon.svg" width="200px" height="100px">
         </div>
    </div>
    <br><br>
</div>