<div class="section no-pad-bot light-blue lighten-3">
    <div class="row">
        <div class="col s12 m7 l8">
            <h3 class="center-align white-text">¡Planificar tú clase es muy sencillo!</h3>
            <div class="center-align">
                <h5 class="center-align white-text">Con solo tres pasos puedes obtener tú reporte semanal</h5>
            </div>
            <br>
            <div class="col s12 m12 l12">
                <div class="center-align">
                    <a href="/generador" id="download-button" class="btn-large waves-effect light-blue accent-4">Inicia tú plan</a>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="col s12 m5 l4 ">
            <img src="img/home/banner.svg" alt="banner" class="responsive-img">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <h3 class="center">Paso A</h3>
            <p class="light">El primer paso, conciste en seleccionar el nivel y las materias académicas que deseas trabajar
                con tus estudiantes. A partir de esta información la aplicación arrojará automaticamente el siguiente paso.</p>
        </div>
        <div class="col s12 m6">
            <img class="responsive-img" src="/img/home/image1.svg" width="500px" height="500px">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 push-m6 l6 push-l6">
            <h3 class="center">Paso B</h3>
            <p class="light">El programa te mostrará la colección de contenidos que pertenecen a cada una de las materias académicas.
                 A continuación, te invitamos a clickear los temas que deseas impartir con tú grupo de alumnos para obtener la actividad conceptual y procedimental.</p>
        </div>
        <div class="col s12 m6 pull-m6 l6 pull-l6">
            <img class="responsive-img" src="/img/home/image2.svg" width="500px" height="500px">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h3 class="center">Paso C</h3>
            <p class="light">El último paso, es desplegar el resultado de tú planificación y almacenarla en tú dispositivo, para disfutar de un compartir pedagógico que transformará la forma de enseñar y de aprender.</p>
        </div>
        <div class="col s12 m6">
            <img class="responsive-img" src="/img/home/image3.svg" width="500px" height="500px">
        </div>
    </div>
    <br><br>
</div>