.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.left-align {
  margin-left: 20px;
}
.right-align{
  margin-right: 10px;
}
.button{
  margin-left: 200px;
}
#button {
  margin-bottom: 20px;
}
footer {
  background-color:  #0091ea;
}

 html{
  font-family: 'Marmelad', sans-serif;
}
.flow-text {
  text-align: justify;
}
option{
  font-size: 80px;
}

     